.App {
  min-height: 80rem;
  max-height: 100rem;
  text-align: center;
  background-color: rosybrown;
  background-image: url("./backgrounds.jpg");
  background-size: 170rem;
  background-position-y: -80rem;
  background-repeat: no-repeat;
}

.App-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 7rem;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: -0.1rem 0.1rem 0.5rem palevioletred;
}

.App-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.App-button {
  background-color: grey;
  color: white;
  width: 10rem;
  height: 3rem;
  text-align: center;
  border-radius: 2rem;
  font-size: 1.5rem;
  border: 0.1rem;
  border-color: white;
  border-style: solid;
}

.App-data {
  padding-top: 3rem;
  visibility: hidden;
  color: white;
  width: 25rem;
  height: 3rem;
  font-size: 1.5rem;
  text-align: left;
  display: inline-block;
}

.App-error {
  color: white;
  text-shadow: -0.1rem 0.1rem 0.25rem palevioletred;
}
